on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: run tests
jobs:
  test:
    strategy:
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9']
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - run: apt update
    - run: apt install git
    - run: pip install -U pip
    - run: pip install -U pipenv
    - run: pipenv install --dev
    - name: Run tests
      run: pipenv run pytest tests

  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.9'
        architecture: 'x64'
    - run: apt install git
    - run: pip install -U pip
    - run: pip install -U pipenv
    - run: pipenv install --dev
    - run: pipenv run pytest --cov=vindaloo --cov-report=xml tests
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
